/**
 * Override button-variant to change border color, and size, and remove active border state
 */

@mixin button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 30%)) {
  @include color-yiq($background);
  background-color: $background;
  //background-color: #f00;
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    @include color-yiq($background);
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 3px rgba(darken($background, 20%), .5);
    } @else {
      box-shadow: 0 0 0 3px rgba(darken($background, 20%), .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $background;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    background-color: $active-background;
    background-image: none; // Remove the gradient for the pressed/active state
    border-color: $active-border;
    @include box-shadow($btn-active-box-shadow);
  }
}
