<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <script src="js/jquery.js"></script>
  <script src="js/styleguide.js"></script>
  <title>Auto Data Direct, Inc. Style Guide</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row bg-secondary">
      <div class="col">
        <img src="img/logo-add.png" alt="Auto Data Direct, Inc." class="logo"/>
      </div>
      <div class="col">
        <h1 class="guide-title anim-text-flow">Style Guide</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-2 bg-light column-border">
        <div class="menu">
          <div class="text-center"><strong>Main Menu</strong></div>
          <ul id="menu"></ul>
        </div>
      </div>
      <div class="col page-content">
        <!-- CONTENT AREA -->
        <div class="container"> 
          <h2 class="uiguideTitle">Color Swatches</h2>
        </div>
        <!-- END CONTENT AREA -->
      </div>
    </div>
  </div>
</body>
</html>