//
// ADD Color system
//

$white:  #fff !default;
$black:  #000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #f4f2f2 !default;
$gray-300: #e5e3e3 !default;
$gray-400: #c5c3c3 !default;
$gray-500: #989898 !default;
$gray-600: #6a6a6a !default;
$gray-700: #4f4f4f !default;
$gray-800: #333333 !default;
$gray-900: #191919 !default;

$blue-100: #a8e5ff !default;
$blue-200: #76d6ff !default;
$blue-300: #27b1ec !default;
$blue-400: #0190cd !default;
$blue-500: #016895 !default;
$blue-600: #01364d !default;
$blue-700: #00121a !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blues: (
  100: $blue-100,
  200: $blue-200,
  300: $blue-300,
  400: $blue-400,
  500: $blue-500,
  600: $blue-600,
  700: $blue-700,
  primary: $blue-400
) !default;

$add-primary:   #0190cd !default;
$light-blue:    #a8e5ff !default;
$sky-blue:      #76d6ff !default;
$bright-blue:   #27b1ec !default;
$country-blue:  #016895 !default;
$dark-blue:     #01364d !default;
$midnight-blue: #00121a !default;
$green:         #28a745 !default;
$yellow:        #fcc800 !default;
$orange:        #ff7400 !default;
$red:           #ba0000 !default;
$text-muted:    $gray-400 !default;

$colors: (
  blue: $add-primary,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  white: $white,
  gray: $gray-300,
  gray-dark: $gray-600
) !default;

$theme-colors: (
  primary: $add-primary,
  secondary: $gray-500,
  success: $green,
  info: $bright-blue,
  warning: $yellow,
  caution: $orange,
  danger: $red,
  light: $gray-300,
  dark: $gray-800
) !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// Settings for the `<body>` element.

$body-bg:       $white !default;
$body-color:    $gray-900 !default;

// Links Style anchor elements

$link-color:            theme-color("primary") !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Code color for <code> block

$code-color:                  $red !default;
$code-bg:                     $gray-300 !default;

// Keyboard color for <kbd> block
$kbd-color:                   $white !default;
$kbd-bg:                      $gray-900 !default;

$pre-color:                   $gray-900 !default;

// Generate classes for colors gray and blue

// Blue classes
@each $color, $value in $blues {
  @include add-color-gen('.blue-#{$color}', $value);
}
@each $color, $value in $blues {
  @include add-bg-gen('.bg-blue-#{$color}', $value);
}

// Gray classes

@each $color, $value in $grays {
  @include add-color-gen('.gray-#{$color}', $value);
}
@each $color, $value in $grays {
  @include add-bg-gen('.bg-gray-#{$color}', $value);
}