$spacer: 0.9rem;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;

$font-size-base: 0.9rem;
$font-size-lg: 1rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.5rem;

$h1-font-size: 2.0rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.4rem !default;
$h4-font-size: 1.3rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;


$headings-font-weight: 600;

$lead-font-size:   1rem;
$lead-font-weight: 400;

$btn-box-shadow: 0 2px 2px rgba($black,.25) !default;

$enable-rounded: true !default;
$enable-gradients: true !default;
$enable-shadows: true !default;
